<app-title title="Первообразный корень:"></app-title>
<app-input
  label="m"
  (changeInput)="onChange($event)"
  holder="Введите модуль m"
></app-input>
<br />

<app-buttons (click)="calc()" title="Вычислить"></app-buttons>

<p id="primitiveresult" *ngIf="m != undefined && m > 0"></p>
<table *ngIf="m != undefined && m > 0 && objrev.length > 0">
  <td>
    <tr align="right">ɣ |</tr>
    <tr>u<span >({{ m }})</span>|</tr>
  </td>

  <td *ngFor="let obj of objrev">
    <tr> {{ obj.pow }} </tr>
    <tr>{{ obj.res }}</tr>
  </td>
</table>
