button {
  border-radius: 10px;
  border: none;
  background-color: #3a1163;
  color: #ffffff;
  padding: 5px;
  width: 150px;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
