<app-title title="Обратный элементы в Zm:"></app-title>

<app-input
  (changeInput)="onChangeA($event)"
  holder="Введите число а"
></app-input>
<app-input
  (changeInput)="onChangeM($event)"
  holder="Введите модуль M"
></app-input>
<br />
<app-buttons (click)="adGsdCalc()" title="Посчитать"></app-buttons>

<table *ngIf="a != undefined && a != 0 && m != undefined && m != 0">
  <thead>
    <tr>
      <th>r</th>
      <th>&ensp;q</th>
      <th>&ensp;x</th>
      <th>&ensp;y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="adri2"></td>
      <td id="adqi2"></td>
      <td id="adxi2"></td>
      <td id="adyi2"></td>
    </tr>
  </tbody>
</table>
<p
  id="adresult2"
  *ngIf="a != undefined && a != 0 && m != undefined && m != 0"
></p>
<p
  id="adresult3"
  *ngIf="a != undefined && a != 0 && m != undefined && m != 0"
></p>
