<div class="methods">
  <app-alg></app-alg>
  <app-advance-alg></app-advance-alg>
  <app-scm></app-scm>
  <app-sieve-eratosthenes></app-sieve-eratosthenes>
  <app-sieve-sundarama></app-sieve-sundarama>
  <app-ferma-factorization-method></app-ferma-factorization-method>
  <app-prime-number></app-prime-number>
  <app-factorization></app-factorization>
  <app-module></app-module>
  <app-func-euler></app-func-euler>
  <app-reduced-system></app-reduced-system>
  <app-reverse></app-reverse>
  <app-deduction-class></app-deduction-class>
  <app-comparison></app-comparison>
  <app-comparison-system></app-comparison-system>
  <application-theorem-ferma></application-theorem-ferma>
</div>
